body {
    background-color: #313B45; /* Fond plus sombre pour contraster avec le texte blanc */
    color: white; /* Texte blanc */
    font-family: Arial, sans-serif; /* Arial comme alternative à Helvetica Neue */
    margin: 0;
    padding: 0;
}

.center-logo {
    position: fixed;
    top: 10px;
    left: 10px;
    transform: translate(-43%, -45%) scale(0.1);
    z-index: 1000;
}

.navbar {
    background-color: #2C3E50;
    padding: 10px 20px;
}

.navbar img {
    width: 50px; /* Taille du logo */
    cursor: pointer; /* Curseur de la souris en forme de main */
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar .menu .username {
    margin-right: 10px;
}

.left-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

button.left-buttons {
    top: 11px;
}

/* Cacher le hamburger par défaut */
.navbar .hamburger {
    display: none;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

input[type="text"],
input[type="uploader"],
label[for="category"],
label[for="subcategory"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    opacity: 1;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles pour les petits écrans */
@media (max-width: 600px) {
    .navbar .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-buttons .right-buttons {
        display: flex;
        width: fit-content;
    }

    .navbar .menu button {
        width: fit-content;
        margin: 5px;
    }

    .navbar .hamburger {
        display: block;
        cursor: pointer;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .menu.active {
        display: flex;
    }
}