body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.center-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.animate-logo {
    animation: moveLogo 3s forwards;
}

.blur-background {
    filter: blur(10px);
    animation: unblurBackground 3s forwards;
}

.navbar.no-blur {
    filter: none !important;
}

.fade-in {
    opacity: 0;
    animation: fadeInElements 3s forwards;
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        top: 34.5px;
        left: 367px;
        transform: translate(-50%, -50%) scale(0.085);
    }
}

@keyframes unblurBackground {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

@keyframes fadeInElements {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}