
.loadingContainer {
    position: relative;
    width: 80px; /* Adjusted for new size */
    height: 80px; /* Adjusted for new size */
}s

.loadingAnimation {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

circle {
    fill: transparent;
    stroke-linecap: round;
    stroke-dasharray: calc(3.14px * 40);
    stroke-dashoffset: 40;
    -webkit-animation: spinner 2s linear infinite;
    -moz-animation: spinner 3s linear infinite;
    -ms-animation: spinner 3s linear infinite;
    -o-animation: spinner 3s linear infinite;
    animation: spinner 3s linear infinite;
}

.spinner-red circle {
    stroke: #8A2BE2 ;
}

.spinner-green circle {
    stroke: #9457EB ;
}

.spinner-blue circle {
    stroke: #9683EC;
}

.spinner40 {
    width: 80px; /* Increased size */
    height: 80px; /* Increased size */
    display: block;
    transform-origin: calc(0.5 * 80px) calc(0.5 * 80px); /* Adjusted for new size */
    -webkit-animation: rotateSpinner 2s linear infinite;
    -moz-animation: rotateSpinner 3s linear infinite;
    -ms-animation: rotateSpinner 3s linear infinite;
    -o-animation: rotateSpinner 3s linear infinite;
    animation: rotateSpinner 3s linear infinite;
    position: absolute;
}

.spinner-red {
    animation-delay: 0s;
}

.spinner-green {
    animation-delay: 5s;
}

.spinner-blue {
    animation-delay: 10s;
}

@keyframes spinner {
    0% {
        stroke-dashoffset: 26.4/*calc(0.66 * 40)*/;
    }
    50% {
        stroke-dashoffset: 124.6/*calc(3.14 * 40)*/;
    }
    100% {
        stroke-dashoffset: 0.66; /*calc(0.66);*/
    }
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}