body {
    font-family: Arial, sans-serif;
}

.plex-logo img {
    width: 25%;
    cursor: pointer;
}

#login-form,
#create-form {
    display: none;
    padding: 20px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.submit-container {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

input[type="submit"],
button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    padding-right: 30px; /* Espace pour l'icône */
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em; /* Ajustez la taille de l'icône si nécessaire */
}

/* Media queries pour rendre le formulaire responsive */
@media only screen and (max-width: 600px) {
    .plex-logo img {
        width: 50%;
    }

    #login-form,
    #create-form {
        padding: 15px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        padding: 8px;
    }
}