body {
    background-color: #313B45; /* Fond plus sombre pour contraster avec le texte blanc */
    color: white; /* Texte blanc */
    font-family: Arial, sans-serif; /* Arial comme alternative à Helvetica Neue */
    margin: 0;
    padding: 0;
}

.center-logo {
    position: fixed;
    top: 10px;
    left: 10px;
    transform: translate(-43%, -45%) scale(0.1);
    z-index: 1000;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}