<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plex Service - Download</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plex-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeMain.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/downloadStatus.css') }}">
</head>

<body>
    <div class="center-logo">
        <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo">
    </div>

    <div class="navbar blur-background fade-in">
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <div class="menu">
            <div class="left-buttons">
                <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo"
                    onclick="window.location.href='{{ url_for('inner_home')}}'">
                <button>Recherche</button>
                <button>Demandes</button>
            </div>
            <div class="right-buttons">
                {% if show_download %}
                <button>Téléchargement</button>
                {% endif %}
                {% if show_users %}
                <button>Utilisateurs</button>
                {% endif %}
                <button class="username">{{ username }}</button>
                <button onclick="window.location.href='{{ url_for('inner_logout') }}'">Déconnexion</button>
            </div>
        </div>
    </div>

    <div class="center-container blur-background fade-in">
        <form id="torrent-form">
            <label for="torrent-file">Télécharger un fichier .torrent :</label>
            <input type="file" name="torrent-file" id="torrent-file" accept=".torrent" required>
            <button type="submit">Lancer le téléchargement</button>
        </form>
    
        <div class="status-info">
            <div id="file-info">Nom du fichier: Aucun fichier sélectionné</div>
            <div id="speed-info">Vitesse de téléchargement: 0 kB/s</div>
            <div id="upload-speed-info">Vitesse d'upload: 0 kB/s</div>
            <div id="elapsed-time">Temps écoulé: 0s</div>
            <div id="remaining-time">Temps restant estimé: Inconnu</div>
        </div>
    
        <div class="progress-container">
            <div class="progress-bar" id="progress-bar">0%</div>
        </div>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    
        {% if download_status %}
        <div class="status-container">
            <h2>État du téléchargement</h2>
            <p>{{ download_status }}</p>
        </div>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/downloads.js') }}"></script>
</body>

</html>