<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plex Service</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plex-icon.png') }}">
    <style>
        body {
            background-color: #ff8c00; /* Orange sombre */
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
        }
         
        img {
            height: 50%;
            width: 50%;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='images/plex_bg.png') }}" alt="Plex Service">
</body>
</html>