<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css"> <!-- Assurez-vous d'avoir un fichier CSS pour le style -->
</head>
<body>
    <div class="login-container">
        <form action="/login" method="post"> <!-- L'action doit pointer vers l'URL qui gère l'authentification dans votre serveur -->
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>