<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<div class="navbar blur-background fade-in">
    <div class="hamburger" onclick="toggleMenu()">☰</div>
    <div class="menu">
        <div class="left-buttons">
            <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo" onclick="window.location.href='{{ url_for('inner_home')}}'">
            <button>Recherche</button>
            <button>Demandes</button>
        </div>
        <div class="right-buttons">
            {% if session.show_download %}
            <button onclick="window.location.href='{{ url_for('inner_download') }}'">Téléchargement</button>
            {% endif %}
            {% if session.show_users %}
            <button class="notification-bubble" id="user-button" onclick="window.location.href='{{ url_for('manage_users') }}'">Utilisateurs</button>
            {% endif %}
            <button class="username">{{ session.username }}</button>
            <button onclick="window.location.href='{{ url_for('inner_logout') }}'">Déconnexion</button>
        </div>
    </div>
</div>

<script>
    function checkNewUsers() {
        fetch('/check_new_users')
            .then(response => response.json())
            .then(data => {
                const userButton = document.getElementById('user-button');
                if (data.new_users_count > 0) {
                    userButton.setAttribute('data-count', data.new_users_count);
                } else {
                    userButton.removeAttribute('data-count');
                }
            })
            .catch(error => console.error('Erreur:', error));
    }

    // Vérifier les nouveaux utilisateurs toutes les 30 secondes
    setInterval(checkNewUsers, 30000);
    // Vérifier immédiatement au chargement de la page
    checkNewUsers();
</script>