<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

<div class="navbar {% if session.get('from_index') %}blur-background fade-in{% endif %}">
    <div class="menu">
        <div class="left-buttons">
            <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo" onclick="closeMenuOnClick(); window.location.href='{{ url_for('inner_home')}}'">
            <button onclick="closeMenuOnClick(); window.location.href='{{ url_for('search_page') }}'">Recherche</button>
            <button onclick="closeMenuOnClick(); window.location.href='{{ url_for('manage_wishes') }}'">Demandes</button>
        </div>
        <div class="right-buttons">
            {% if session.rights_agreement in ['PlexService::SuperAdmin', 'PlexService::Admin'] %}
            <button onclick="closeMenuOnClick(); window.location.href='{{ url_for('inner_download') }}'">Téléchargement</button>
            {% endif %}
            {% if session.rights_agreement == 'PlexService::SuperAdmin' %}
            <button onclick="closeMenuOnClick(); window.location.href='{{ url_for('inner_seed') }}'">Seed</button>
            <button class="notification-bubble" id="user-button" onclick="closeMenuOnClick(); window.location.href='{{ url_for('manage_users') }}'">Utilisateurs</button>
            {% endif %}
            <button class="username">{{ session.username }}</button>
            <button onclick="closeMenuOnClick(); window.location.href='{{ url_for('inner_logout') }}'">Déconnexion</button>
        </div>
        <div class="hamburger" onclick="toggleMenu()">☰</div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>