<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plex-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>Recherche</h1>
        <input type="text" id="search-input" placeholder="Rechercher un film ou une série...">
        <div id="results"></div>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>

</html>