<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plex-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeMain.css') }}">
</head>
<body>
    <div class="center-logo">
        <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo">
    </div>

    <div class="navbar blur-background fade-in">
        <div class="hamburger" onclick="toggleMenu()">☰</div>
        <div class="menu">
            <div class="left-buttons">
                <img src="{{ url_for('static', filename='images/plex-fleche.png') }}" alt="Plex Logo" onclick="window.location.href='{{ url_for('inner_home')}}'">
                <button>Recherche</button>
                <button>Demandes</button>
            </div>
            <div class="right-buttons">
                {% if session.show_download %}
                <button onclick="window.location.href='{{ url_for('inner_download') }}'">Téléchargement</button>
                {% endif %}
                {% if session.show_users %}
                <button onclick="window.location.href='{{ url_for('manage_users') }}'">Utilisateurs</button>
                {% endif %}
                <button class="username">{{ session.username }}</button>
                <button onclick="window.location.href='{{ url_for('inner_logout') }}'">Déconnexion</button>
            </div>
        </div>
    </div>

    <div class="center-container blur-background fade-in">
        <h1>Liste des utilisateurs</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.rightsAgreement }}</td>
                    <td>
                        <button onclick="validateUser('{{ user.uid }}')">Valider</button>
                        <button onclick="deleteUser('{{ user.uid }}')">Supprimer</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function validateUser(username) {
            fetch('/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    location.reload();
                } else if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => console.error('Erreur:', error));
        }

        function deleteUser(username) {
            fetch('/users', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username: username })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message);
                    location.reload();
                } else if (data.error) {
                    alert(data.error);
                }
            })
            .catch(error => console.error('Erreur:', error));
        }
    </script>
</body>
</html>