<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/plex-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="center-container blur-background fade-in">
        <h1>Liste des utilisateurs</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.uid }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.rightsAgreement }}</td>
                    <td>
                        {% if not user.rightsAgreement %}
                        <button onclick="validateUser('{{ user.uid }}')">Valider</button>
                        {% endif %}
                        {% if session.rights_agreement == 'PlexService::SuperAdmin' %}
                            {% if user.rightsAgreement != 'PlexService::SuperAdmin' %}
                            <button onclick="deleteUser('{{ user.uid }}')">Supprimer</button>
                            {% endif %}
                            {% if user.rightsAgreement != 'PlexService::Admin' and user.rightsAgreement != 'PlexService::SuperAdmin' %}
                            <button onclick="makeAdmin('{{ user.uid }}')">Rendre Admin</button>
                            {% endif %}
                        {% elif session.rights_agreement == 'PlexService::Admin' %}
                            {% if user.rightsAgreement == 'PlexService::User' %}
                            <button onclick="deleteUser('{{ user.uid }}')">Supprimer</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
</body>
</html>